LLM_API_KEY=your_dashscope_api_key
LLM_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
LLM_MODEL=qwen3.7-plus
LLM_HIGH_ACCURACY=1
LLM_ENABLE_THINKING=1
LLM_IMAGE_MAX_SIDE=1200
LLM_IMAGE_QUALITY=85
